<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="../stylesheets/style.css">
  <title>Document</title>
</head>
<body>
  <div id="box">
  <div id="left"></div>
  
  <div id="right">
    <div class="icon"><i class="ri-twitter-fill"></i></div>
    <h1>Happening Now</h1>
    <h4>Join Twitter today.</h4>
    <a href="/signUp"><button >Sign Up</button></a>
    <br>
    <a href="/logIn"><button >Log in</button></a>
  </div>
 </div>
</body>
</html>