<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="../stylesheets/sign.css">
  <title>Document</title>
</head>
<body>
   <div id="box">
       <div id="card">
        <!-- <div class="icon"><i class="ri-twitter-fill"> </i></div> -->
        <h1>Create your account</h1>  
        <form action="/register" method="post"> <br>
        <input type="text" name="name" placeholder="Name"> <br>
        <input type="text" name="username" placeholder="Username"> <br>
        <input type="email" name="email" placeholder="Email" ><br>
        <input type="password" name="password" placeholder="Password"><br>
        <input type="submit" value="Create your account">
        </form>
        <a href="/login">Already have an account ?.</a>
        </div>
       </div>
   </div>
</body>
</html>